.navfont {
  font-family: Garamond, serif;
}

.imahe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://wallpapers.com/images/hd/table-background-i5wagxm5xfb3jszn.jpg');
  height: 91vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tnr {
  font-family: Times New Roman, serf;
}

.sy {
  overflow-y: scroll;
}

.sayz {
  height: 50px;
}

.me-6 {
  margin-right: 242px;
}